<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Search results</title>
</head>
<body>
<h2>Search results:</h2>
<div th:fragment="resultsList" th:unless="${#lists.isEmpty(prLanguages.resultCollection)}" class="results-block">
    <table>
       <tr th:each="prLang : ${prLanguages.resultCollection}">
            <td>
                <div class="row">
                    <div class="col-lg-12">
                        <h3 th:text="${prLang.name}" class="text-primary">name</h3>
                        <h4 th:text="${prLang.designedBy}" class="text-info">designedBy</h4>
                        <p th:text="${prLang.type}">type</p>
                    </div>
                </div>
            </td>
        </tr>
        <hr/>
    </table>

</div>

<hr/>
<!-- Pagination -->
<div th:unless="${#lists.isEmpty(prLanguages.resultCollection)}" class="row text-center">
    <div class="col-lg-12">
        <ul class="pagination">
            <li>
                <a href="#">&laquo;</a>
            </li>
            <li th:each="i : ${#numbers.sequence(1, prLanguages.pagesTotal)}"
                class="" th:classappend="${prLanguages.pageNumber == i}  ? active : ''">
                <a href="#" th:text="${i}"></a>
            </li>
            <li>
                <a href="#">&raquo;</a>
            </li>
        </ul>
    </div>
</div>
<!-- /.row -->

<hr/>
</body>
</html>